/*
 * Copyright 2016 Google Inc.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
          background: linear-gradient(245.74deg, #CC0000 2.67%, #000000 49.37%), #000000;}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }



    .alumnicard {
      padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
      max-width: 100%;
      max-height: 100%;
    }

    .alumnicarddiv {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .instructions {
    color: white;
    display: flex;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    margin:20px
    }

    .rotatetext {
      color: white;
      display: flex;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 400;
      margin:20px;
      padding-bottom:50px;
    }

    @media only screen 
    and (orientation : landscape) {
    .instructions {
      display: none;
    }
    .rotatetext {
      display: none;
    }
    #overlay {
      display: none;
    }

  }

    @media only screen 
    and (orientation : portrait) {
      .alumnicard {
    margin-top: -100px;
    padding-top: 0px;
      }
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    
align-items: center;
justify-content: center;
}

.overlaybox {
 display: flex;
width: 239px;
height: 242px;
align-items: center;
justify-content: center;


background: #FFFFFF;
}

.overlayboxtitle {
  position: absolute;
width: 204px;
height: 50px;


font-family: Open Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 18px;
text-align: center;

color: #1D1A1A;
align-self: flex-start;
margin-top: 20px;
}

.overlayboxdescription {
  
  position: absolute;
width: 184px;
height: 58px;


font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
text-align: center;

color: #1D1A1A;
}

.overlayboxinstructions {
  position: absolute;
width: 199px;

font-size: 13px;
text-align: center;
font-weight: 600;
align-self: flex-end;
padding-bottom: 20px;
}

.iossharebutton {

  width: 20px;
  margin-bottom: -3px;
}